{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Agricultorizator</h1>
    <p class="lead">Este site tem como objetivo apresentar informações para apoiar o agricultor familiar.<br><br>Ao analisar a situação atual do agricultor familiar foram identificadas algumas estratégias para modernizar a sua propriedade como: modernização da área utilizada, aumento da produtividade, operação de campo como diferencial e a tecnologia suportando o negócio.</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Registre-se</a>
      <a href="/login" class="btn btn-success btn-lg">Entre</a>
    {% endif %}
  </div>
{% endblock %}
